@import 'layout/reset';
@import 'themes/colors';
@import 'pages/index';

header {
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: $main-color;

  img {
    height: 20px;
  }

  a {
    width: 40px;

    i {
      color: #fff;
    }

  }
}

@import './modal/main';