@import '../themes/colors.scss';

.main-nav {
  width: 80%;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 10px;
      line-height: 30px;
      list-style: none;
      background-color: $main-color;
      border: 1px solid black;
      a {
        color: white;
      }
    }
  }
}
